# Виртуальное окружение
venv/

# Кэшированные файлы Python
__pycache__/

# Docker
Dockerfile

# Папки сборки и базы данных
db/
build/

# Другие временные файлы и папки
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
